// SANS =======================
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
// SERIF ======================
$serif: "Book Antiqua", Baskerville, Georgia, serif;
// HEADLINE ===================
$headline: "Helvetica Neue", Helvetica, Arial, sans-serif;
