// *****************************************
// VARIABLES
// color and typography variables are stored in there respective files
// *****************************************


// =========================================
// MARGINS
// =========================================
$base-margin: 1.563rem; //25px
$base-margin-row: 7.500rem; //120px
$mobile-menu-margin: 6vw;

// =========================================
// VIEWPORTS
// =========================================
$viewport-xs: 414px;	 // iPhone 8 Plus and smaller
$viewport-sm: 768px;   // Tablet Portrait
$viewport-md: 1024px;  // Tablet Landscale
$viewport-lg: 1280px;  // Desktop