body {
  font-family: $sans;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}//body

%ul-zero {
  list-style: none;
  margin: 0;
  padding: 0;
}//%ul-zero

.ul-zero { @extend %ul-zero; }

.main {
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: $headline;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primary;
    line-height: 1.2;
  }//h1,h2,h3,h4,h5,h6

  p { margin: 0 0 25px; }

  a {
    color: $alert;
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
}//main
