// ============================================================
//  COLORS
// ============================================================
$red: #cc3300;
$blue: #168acd;
$green: #74c946;
$white: #fff;
$black: #000;
$grey: #666;

$primary: $blue;
$secondary: $red;
$tertiary: $green;
$neutral: $grey;

$alert: $secondary;
