<footer class="site-footer">
  <section class="footer-top">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <section class="sec-top footer-left">
          {{ drupal_menu('main',1) }}
        </section>

        <section class="sec-top footer-right">
          {# {{ page.footer_top }} #}
          {# {{ drupal_menu('footer',1) }} #}
          <div class="logo">
            <a href="/"><img src="/themes/custom/sndev_d8/images/logo-ph-wht-02.png"></a>
          </div>
          <div class="address">
            123 Fake Street<br>
            Anywhere, IL 60502<br>
            <a href="tel:+15555555555" class="phone">555-555-5555</a>
          </div>
        </section>
      </div>
    </div>
  </section>

  <section class="footer-bottom">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <div class="flex-sec legal">© 2017 Arkus Inc. Private Invesigation. All rights reserved.</div>
        <ul class="ul-zero flex-sec legal-links">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li class="divider"> | </li>
          <li><a href="/terms-use">Terms of Use</a></li>
          <li class="divider"> | </li>
          <li><a href="/site-credits">Site Credits</a></li>
          <li class="divider"> | </li>
          <li><a href="/site-map">Site Map</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
