<div class="logo">
  <a href="/"><img src="/themes/custom/sndev_d8/images/logo-ph-02.png"></a>
</div>
<div class="phone trigger">
  <a href="tel:+15555555555">555-555-5555</a>
  <div class="mobile-trigger ion-android-menu"></div>
</div>
